<!DOCTYPE html>
<html lang="en">

<head>
	<title>News Scraper</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="title" content="News Scraper">
	<meta name="author" content="Ian Goodnight">
	<meta name="copyright" content="Ian Goodnight">
	<meta name="description" content="A web app that lets users view and leave comments on the latest news.">
	<meta name="abstract" content="A web app that lets users view and leave comments on the latest news.">
	<meta http-equiv="content-language" content="en">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="date" content="2018-03-03">
	<meta name="revisit-after" content="30 days">
	<meta name="revisit" content="after 30 days">
	<meta name="DC.Language" content="en">	

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/CSS/style.css">
</head>
<body>

		{{{ body }}}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
	<script src="../../assets/js/index.js"></script>
</body>

</html>